cast_crew_overflow {
"overflow-x: hidden;"
}

cast_crew_overflow :hover {
"overflow-x: scroll;"
}


.cacard:hover {
   box-shadow: 0 0 8px 0 rgba(151, 144, 144, 0.51), 0 6px 20px 0 rgb(0, 0, 0);
}

.card-meta {
   grid-area: span 1/span 2;
   padding: 1rem;
}

.card-meta--container {
   display: -webkit-box;
   display: flex;
   padding-bottom: 0.8rem;
}

.card-meta--avatar {
   width: 40px;
   height: 40px;
   align-self: center;
}

.card-meta--title {
   padding: 0.2rem 1rem;
}

.card-meta--name {
   font-size: 1.1rem;
}

.card-meta--character {
   color: #A5A9BB;
   font-size: 0.9rem;
}


.videotumb {
   cursor: auto;
}


.playy {
   background: red;
   border-radius: 50% / 10%;
   color: #FFFFFF;
   height: 3rem;
   width: 4rem;
   margin: 20px auto;
   padding: 0;
   position: absolute;
   left: calc(50% - 2rem);
   top: calc(50% - 2.5rem);
   text-align: center;
   text-indent: 0.1em;
   transition: all 150ms ease-out;
}

.videoimage {
   height: 13rem;
   width: auto;
   border-radius: 3px;
}

.videotumb:hover {
   cursor: pointer;
}

.playy:hover {
   cursor: pointer;
   background: darkcyan;
}

.playy::before {
   background: inherit;
   border-radius: 5% / 50%;
   bottom: 9%;
   content: "";
   left: -5%;
   position: absolute;
   right: -5%;
   top: 9%;
}

.playy::after {
   border-style: solid;
   border-width: 1rem 0 1rem 1.732rem;
   border-color: transparent transparent transparent rgba(255, 255, 255, 0.75);
   content: ' ';
   font-size: 0.75rem;
   height: 0;
   margin: -1rem 0 0 -0.75rem;
   top: 50%;
   position: absolute;
   width: 0;
}

/*index-->*/
.hoverMediaImage {
   transition: all 0.4s cubic-bezier(.25, .8, .25, 1);
   z-index: 0;
   position: relative;
}

.hoverMediaImage:hover {
   -webkit-box-shadow: 0 11px 20px 10px rgba(0, 0, 0, 0.75);
   -moz-box-shadow: 0 11px 20px 10px rgba(0, 0, 0, 0.75);
   box-shadow: 0 11px 20px 10px rgba(0, 0, 0, 0.75);
   transform: scale(1.1);
   z-index: 15;
   border-radius: 4px;
}


.hoverSmallImage {
   transition: all 0.4s cubic-bezier(.25, .8, .25, 1);
   z-index: 0;
   position: relative;
}

.hoverSmallImage:hover {
   -webkit-box-shadow: 0 11px 20px 10px rgba(0, 0, 0, 0.75);
   -moz-box-shadow: 0 11px 20px 10px rgba(0, 0, 0, 0.75);
   box-shadow: 0 11px 20px 10px rgba(0, 0, 0, 0.75);
   transform: scale(2);
   z-index: 15;
   border-radius: 4px;
}

/*<--index*/
/*Loader-->*/

.loaderBody {
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: #1a1940;
   background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 153, 212, 0) calc(15% + 100px), rgba(0, 99, 138, 0) calc(85% + 100px), rgba(0, 0, 0, 0.15) 100%);
}

loaderContainer {
   display: flex;
   justify-content: center;
   align-items: center;
}

loaderDiv {
   width: 1rem;
   height: 1rem;
   border-radius: 100%;
   margin: 0.34rem;
   background-image: linear-gradient(145deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
   animation: bounce 0.8s 0.5s linear infinite;
}

.loaderYellow {
   background-color: #feb60a;
}

.loaderRed {
   background-color: #ff0062;
   animation-delay: -0.05s;
}

.loaderBlue {
   background-color: #00dbf9;
   animation-delay: 0.15s;
}

.loaderViolet {
   background-color: #da00f7;
   animation-delay: 0.3s;
}

@keyframes bounce {
   0%, 50%, 100% {
   }
   25% {
      transform: translateY(-0.5rem)
   }
   75% {
      transform: translateY(0.5rem)
   }
}

/*<--loader*/

/*nav-->*/

.raise {
   color: #00bbce;
   -webkit-transition: 0.25s;
   transition: 0.25s;
   background: none;
   font: inherit;
   line-height: 1.2;
   margin-left: 0.4rem;
   padding: 0.4rem 1.3rem;
   border: none;
   outline: none;
}

.childDiv {
   display: none;
}

.parentDiv:hover .childDiv {
   display: block;
}













