
.card-meta {
  grid-area: span 1/span 2;
  padding: 1rem;
}
.card-meta--container {
  display: -webkit-box;
  display: flex;
  padding-bottom: 0.8rem;
}
.card-meta--avatar {
  width: 42px;
  height: 42px;
  align-self: center;
}
.card-meta--title {
  padding: 0.2rem 1rem;
}
.card-meta--name {
  font-size: 1.2rem;
}
.card-meta--character {
  color: #A5A9BB;
}