<!doctype html>
<html lang="en">
<head>
  <%-include("head")%>
  <title>Mtb: ERROR</title>
</head>
<body class="errorPageBody">
<div id="clouds">
  <div class="cloud x1"></div>
  <div class="cloud x1_5"></div>
  <div class="cloud x2"></div>
  <div class="cloud x3"></div>
  <div class="cloud x4"></div>
  <div class="cloud x5"></div>
</div>
<div class='errorContent'>
  <div class='error404'>404</div>
  <hr class="hrTag">
  <div class='firstText'>THE PAGE</div>
  <div class='secondText'>WAS NOT FOUND</div>
  <a class='errorButton' href='/'>BACK TO MtB</a>
</div>
</body>
</html>