<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href="/general.css" />
  <title></title>
</head>

<body style="background-color: #02131b;">
  <%- include( 'nav')  %> 
  <div>
    <div class="generalname px-2">
      <h1><%= type %> </h1>

      <hr>
      
    </div>

    <div class="main ">
      <div class="cards d-flex justify-content-around flex-wrap">
        <% allResults.forEach(el=>{ %>
        <div class="singleCard m-4 p-4">
          <%- include('card', {result:el}); %>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</body>

</html>