<!DOCTYPE html>
<html lang="en">

<head>
  <%-include("head")%>
  <title>MtB</title>

</head>

<body style="background-color: #02131b">
<%-include('nav')%>
<div class="movieNowPlaying ">
  <div class="p-0 darkStrip row justify-content-center"
       style="background-color: #0a0a0a;margin: auto;max-width: 1500px">
    <h4 class="my-2 align-self-center text-white font-weight-light ">In Theaters</h4>
  </div>
  <%-include("imageCollage",{media:movie,imageURL})%>
</div>
<div class="tvAiringToday">
  <div class="p-0 darkStrip row justify-content-center"
       style="background-color: #0a0a0a;margin: auto;max-width: 1500px">
    <h4 class="my-2 align-self-center text-white font-weight-light ">Airing Today</h4>
  </div>
  <%-include("imageCollage",{media:tv,imageURL})%>
</div>
</body>
</html>