<!doctype html>
<html lang="en">
<head>
  <%-include("head")%>
  <title>MtB</title>
</head>
<body class="loaderBody">
<div class="loaderContainer">
  <div class="loaderDiv loaderYellow"></div>
  <div class="loaderDiv loaderRed"></div>
  <div class="loaderDiv loaderBlue"></div>
  <div class="loaderDiv loaderViolet"></div>
</div>
</body>
</html>