<header class="w-max py-0 ">
  <nav class="navbar navbar-expand-lg shadow py-2" style="background-color: #0c2233">
    <div class="px-2">
      <a class=" navbar-brand font-weight-bolder text-danger m-0 p-0" href="/">
        <img src="/images/mtb.png" title="The Movie/TV show Database"
             style="height:2.3rem; background-position: center; background-size: cover;" alt="MtB">
      </a>

      <!--logo-->
      <!-- <div class="px-2 " style="height:50px; width:auto; background-size: cover; background-position: center;">
        <div class="canva-embed" data-design-id="DAD2h5rWz1U" data-height-ratio="1.0000"
          style="padding:100.0000% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div>
        <script async src="https:&#x2F;&#x2F;sdk.canva.com&#x2F;v1&#x2F;embed.js"></script>
        <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAD2h5rWz1U&#x2F;view?utm_content=DAD2h5rWz1U&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link"
          target="_blank" rel="noopener"></a>
      </div> -->
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto px-3">
        <li class="nav-item">
          <a class="nav-link text-info text-center font-weight-bold text-uppercase py-0 px-2" href="#">
            <button type="button"
                    class="raise font-weight-bold text-uppercase"
                    data-toggle="collapse"
                    data-target="#generalTypeMovie" aria-expanded="false" aria-controls="generalTypeMovie">
              movies
            </button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0 px-2" href="#">
            <button type="button"
                    class="raise font-weight-bold text-uppercase"
                    data-toggle="collapse"
                    data-target="#generalTypeTv" aria-expanded="false" aria-controls="generalTypeTv">
              tv shows
            </button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0 px-2" href="#">
            <button type="button"
                    class="raise font-weight-bold text-uppercase"
                    data-toggle="collapse"
                    data-target="#generalTypePerson" aria-expanded="false" aria-controls="generalTypePerson">
              person
            </button>
          </a>
        </li>
      </ul>
      <div class="collapse" id="generalTypeMovie" style="position: absolute; top: 4rem; left: 9rem; z-index: 5">
        <div class="card card-body p-0 m-0" style="background-color: #02131b">
          <ul class="py-1 pl-1 m-0" style="background-color: #02131b">
            <a href="/movie/popular">
              <button class="btn btn-sm bg-dark mx-1 text-white">Popular</button>
            </a>
            <a href="/movie/top_rated">
              <button class="btn btn-sm bg-dark mx-1 text-white">Top rated</button>
            </a>
            <a href="/movie/now_playing">
              <button class="btn btn-sm bg-dark mx-1 text-white">Now playing</button>
            </a>
            <a href="/movie/upcoming">
              <button class="btn btn-sm bg-dark mx-1 text-white">Upcoming</button>
            </a>
          </ul>
        </div>
      </div>
      <div class="collapse" id="generalTypeTv" style="position: absolute; top: 4rem; left: 9rem; z-index: 5">
        <div class="card card-body p-0 m-0" style="background-color: #02131b">
          <ul class="py-1 pl-1 m-0" style="background-color: #02131b">
            <a href="/tv/popular">
              <button class="btn btn-sm bg-dark mx-1 text-white">Popular</button>
            </a>
            <a href="/tv/top_rated">
              <button class="btn btn-sm bg-dark mx-1 text-white">Top rated</button>
            </a>
            <a href="/tv/on_the_air">
              <button class="btn btn-sm bg-dark mx-1 text-white">On Air</button>
            </a>
            <a href="/tv/airing_today">
              <button class="btn btn-sm bg-dark mx-1 text-white">Airing today</button>
            </a>
          </ul>
        </div>
      </div>
      <form class="form-inline my-2 my-lg-0" id="searchQuery" action="/" method="post">
        <div class="input-group">
          <label for="searchValue">searchValue:</label>
          <input type="text" name="searchValue" class="form-control" placeholder="Search">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </nav>
</header>